In [1]:
#OPERATIONS
a = int(input("enter: "))
b = int(input("enter: "))
print(a+b)
print(a-b)
print(a*b)
print(a/b) #output in float form-quotient
print(a//b) #output was rounded by decimal point(lower value)-quotient
print(a%b) #output is remainder
print(a**b) #power operation

enter:  5
enter:  7

12
-2
35
0.7142857142857143
0
5
78125

In [11]:
#ASSIGNMENT OPERATORS
x = 27
#x +=15
#x -=15
#x *=15
#x /=15
#x //=15
#x %=15
x **=15
print(x)

2954312706550833698643

In [12]:
#COMPARISON OPERATORS-OUPUTS ARE BOOLEAN
a = 15
b = 27
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [16]:
#LOGICAL OPERATORS
marks = 10
age = 18
print(age>17 and marks==15)
print(age>17 or marks==15)
print(not(marks==15))

False
True
True

In [19]:
x = 'maari'
y = 20
z = 23.5
print(f"i'm {x} my age is {y} i've got {z} in mc")
print(type(x))
print(type(y))
print(type(z))

i'm maari my age is 20 i've got 23.5 in mc
<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
y = float(20)
z = str(23.5)
print(type(x))
print(type(y))
print(type(z))
#only the strings who has number format will be converted into int

<class 'str'>
<class 'float'>
<class 'str'>